body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

h2,
h3 {
    color: black;
}

input,
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0b7dda;
}

a {
    margin: 10px;
}


.heading {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.actions-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.user-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    background-color: white;
}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.user-table th {
    background-color: #2196F3;
    color: white;
    text-align: center;
}

.user-table td {
    text-align: left;
}